#div1 {width:500px;height:200px;padding:10px;border:3px solid #aaaaaa; margin-left:100px;}

.draggable {
        cursor: move;
    }
	
	
h1{   
  animation-duration: 2000ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  from {
    opacity: 1;     dtu 
	0 gh;0
  }

  to {
    opacity: 0;
  }
  
  0% {
    opacity: 1;
    color: #8B4513;
  }

  15% {
    color: Blue;
    opacity: 0;
  }

  40% {
    opacity: 1;
    color: Brown;
  }

  60% {
   opacity: 0;
   color: Orange;
 }

 75% {
   opacity: 1;
   color: Red;
 }
 
 100% {
 opacity:0;
 color:#FFD700;
 }
}
rect {
fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)
}
circle{
stroke:"black" ;stroke-width:"3"; fill:rgb(255,0,0);
}
svg#drag5{
fill:lime;stroke:purple;stroke-width:1
}
svg#drag7{
fill:pink;stroke:purple;stroke-width:5;fill-rule:nonzero;
}
ellipse{
fill:yellow;stroke:purple;stroke-width:2;
}